{% extends 'base.html' %}

{% block content %}
<div class="jutsu-list">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for jutsu in jutsus %}
                <tr>
                    <td>{{ jutsu.name }}</td>
                    <td>{{ jutsu.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}